#container-background {
    -fx-background-image: url("airplane.png");
    -fx-background-insets: -20, -10;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#container-background-color{
    -fx-background-color: transparent;
}

text-field {
    -fx-background-color: -fx-focus-color, -fx-background;
    -fx-font-size: 15px;

}

#title {
    -fx-font-size: 40px;
    -fx-background-position: center top;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


#label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-background-color: white;
    -fx-opacity: 0.7;
    -fx-background-insets: -4, -4;
}
